@use '../../styles/colors';
@use '../../styles/fonts';

.friday-ui-physical-event-thumbnail {
  > .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    > .type {
      @include fonts.label;
    }

    > .name {
      @include fonts.IBM-Plex-Sans(1em, colors.$blue, bold);
      margin-top: 5px;
    }
  }

  > .timeline {
    margin-top: 20px;
  }

  > .dividends {
    margin-top: 20px;
  }

  &.light {
    > .header {
      > .type {
        @include fonts.label-light;
      }
      > .name {
        color: white;
      }
    }
  }
}
