.friday-ui-loader {
  display: inline-block;
  position: relative;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}
