@use '~@cezembre/fronts/dist/layouts';

.fleuraison-ui-overlay {
  @include layouts.modal();
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  visibility: hidden;
  opacity: 0;
  animation-duration: 100ms;
  animation-fill-mode: forwards;

  &.visible {
    animation-name: width-in;
  }

  &.closed {
    animation-name: width-out;
  }

}
