@use '../../styles/colors';
@use '../../styles/fonts';

.goatim-ui-share-bulk-thumbnail {
  display: flex;
  align-items: center;
  background: rgba(colors.$gold, .1);
  padding: 10px;
  border-radius: 10px;

  > .nb-shares {
    font-size: 1.1em;
    color: colors.$gold;
    font-weight: bold;
    margin-left: 20px;
  }
}
