@use '../../styles/colors';
@use '../../styles/fonts';

.goatim-ui-match-status-thumbnail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > .indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: colors.$blue-20;
  }

  &.light {
    > .indicator {
      background: rgba(white, .5);
    }
  }

  &.open > .indicator {
    background: colors.$green;
  }

  &.ongoing > .indicator {
    background: colors.$fushia;
  }

  &.passed, &.closing {
    > .indicator {
      background: colors.$electric-blue;
    }
  }

  > span {
    font-size: .8em;
    font-weight: bold;
    margin-left: 10px;
  }

  &.light {
    > span {
      color: white;
    }
  }
}
