@use '../../styles/fonts';
@use '../../styles/colors';

.friday-ui-match-creator {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > span {
    @include fonts.Inter(.8em, rgba(colors.$blue, .5));
    margin-left: 10px;

    > span {
      font-weight: bold;
    }
  }

  &.light {
    color: rgba(white, .5);
  }
}
