.friday-ui-match-header {
  > .title {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 10px;
    max-width: 290px;
  }

  > .creator {
    margin-top: 10px;
  }
}
