@use '../../styles/fonts';
@use '../../styles/colors';

.friday-ui-match-thumbnail {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  padding-top: 40px;
  position: relative;

  > .icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  > .container {
    background: colors.$blue;
    border-radius: 20px;
    border: solid rgba(white, .1) 1px;
    overflow: hidden;

    > .body {
      box-sizing: border-box;
      padding: 20px;

      > .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        > .infos {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          margin-top: 40px;

          > .title {
            @include fonts.Inter(.9em, white, bold);
          }

          > .creator {
            margin-top: 10px;
          }
        }
      }

      > .participants {
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}
