@use '../../styles/colors';
@use '../../styles/fonts';

.goatim-ui-match-board {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  background: rgba(colors.$blue, .1);
  border: solid rgba(colors.$blue, .1) 1px;

  > .tab-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-bottom: solid rgba(white, .1) 1px;
  }

  > .ranking {
    border-right: solid rgba(colors.$blue, .1) 1px;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    > .header {
      height: 60px;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      > .title {
        @include fonts.label;
        text-align: center;
        display: block;
        padding: 0 20px;
      }
    }

    > .compositions {
      flex: 1;

      > .composition-list {
        margin-top: 10px;

        &:first-of-type {
          margin: 0;
        }
      }
    }
  }

  > .feed {
    flex: 1;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.small {
    flex-direction: column;

    > .ranking {
      flex: 1;
    }
  }

  &.light {
    background: rgba(white, .1);
    border: solid rgba(white, .1) 1px;

    > .ranking {
      border-right: solid rgba(white, .1) 1px;

      > .header > .title {
        @include fonts.label-light;
      }
    }
  }
}
