@use '../../styles/colors';

.friday-ui-match-header {
  > .title {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 10px;
    max-width: 290px;
  }

  > .reward {
    margin-top: 10px;
    display: flex;
    align-items: center;

    > .label {
      font-size: .8em;
      margin-right: 5px;
      font-weight: bold;
      color: colors.$blue-50;
    }
  }

  > .creator {
    margin-top: 10px;
  }

  &.light {
    > .title {
      color: white;
    }
  }
}
