@use '../../styles/colors';
@use '../../styles/fonts';

.friday-ui-match-status-thumbnail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > .indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: colors.$blue-20;
  }

  &.open > .indicator {
    background: colors.$green;
  }

  &.ongoing > .indicator {
    background: colors.$fushia;
  }

  &.passed, &.closing {
    > .indicator {
      background: colors.$electric-blue;
    }
  }

  > span {
    @include fonts.Inter(.8em, colors.$blue, bold);
    margin-left: 10px;
  }
}
