@use '~@cezembre/fronts/dist/screens';
@use '../styles/fonts';
@use '../styles/colors';

button.friday-ui-credit-card-thumbnail {
  cursor: pointer;
  font-size: 1em;
  text-align: left;
}

.friday-ui-credit-card-thumbnail {
  width: 260px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px 15px 15px;
  background: white;
  border-radius: 10px;
  border: solid rgba(colors.$blue, .1) 1px;
  transition: background linear 100ms;

  > .body {
    display: flex;
    align-items: center;

    > .selector {
      margin-right: 15px;
    }

    > .details {
      > .digits {
        @include fonts.IBM-Plex-Sans(0.8em, rgba(colors.$blue, .5), bold);
        margin: 0;
      }

      > .expiration {
        @include fonts.IBM-Plex-Sans(0.8em, rgba(colors.$blue, .2));
        margin: 0;
      }
    }
  }

  > .icon {
    margin-left: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    opacity: .5;

    > svg[stroke] {
      stroke: colors.$blue;
    }

    > svg:not([stroke]) {
      fill: colors.$blue;
    }
  }

  &.active {
    &:before {
      border-color: rgba(white, .1);
      background: rgba(white, .5);
    }

    > .icon {
      opacity: 1;
    }

    > .body > .details {
      > .digits {
        color: colors.$blue;
      }
      > .expiration {
        color: rgba(colors.$blue, .5);
      }
    }
  }
}
