@use '../styles/colors';

.friday-ui-payment-method-selector {

  > .new {
    margin-top: 20px;
  }

  > .new-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
}
