@use '../styles/colors';

.goatim-ui-payment-method-selector {
  > .payment-methods {
    margin-bottom: 20px;
  }

  > .new-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
