@use '../../styles/colors';

.goatim-ui-tournament-participant-thumbnail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > .position {
    font-weight: bold;
    margin-right: 10px;
    font-size: .9em;
  }

  > .body {
    display: flex;
    align-items: center;

    > .score {
      font-size: .8em;
      margin-left: 10px;
      font-weight: 500;
      color: colors.$blue-50;
    }
  }
}
