@use '../../styles/fonts';
@use '../../styles/colors';

.goatim-ui-asset-overview {
  width: 100%;

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    > .metrics {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      > .total-shares {
        font-size: .8em;
        color: rgba(colors.$blue, .5);
        text-align: right;
      }
    }
  }

  //> .quotation {
  //  margin-top: 10px;
  //  width: 100%;
  //  background: colors.$blue;
  //  border-radius: 10px;
  //  height: 120px;
  //  overflow: hidden;
  //}

  > .order-book {
    margin-top: 10px;
    width: 100%;
  }

  > .actions {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > button {
      font-size: .8em;
      color: colors.$blue;
      font-weight: 600;
      transition: background linear 100ms;
      padding: 10px 30px;
      background: colors.$blue-10;
      border: solid rgba(colors.$blue, .2) 1px;
      outline: none;
      cursor: pointer;
      display: inline-block;
      margin: 0;

      &.buy {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: none;
      }

      &.sell {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  &.buy {
    > .actions {
      > button {
        &.buy {
          background: colors.$green;
          color: white;
          border: solid rgba(black, .2) 1px;
        }

        &.sell {
          border-left: none;
        }
      }
    }
  }

  &.sell {
    > .actions {
      > button {
        &.buy {
          border-right: none;
        }

        &.sell {
          background: colors.$red;
          color: white;
          border: solid rgba(black, .2) 1px;
        }
      }
    }
  }

  > .actions-body {
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: solid rgba(colors.$blue, .1) 1px;
    display: none;

    &.active {
      display: block;
    }

    > .sell-portfolio {
      margin-top: 30px;
    }
  }

  &.medium {
    > .quotation {
      height: 150px;
      border-radius: 15px;
    }
  }

  &.big {
    > .quotation {
      height: 200px;
      border-radius: 20px;
    }
  }
}
