@use '../../styles/fonts';
@use '../../styles/colors';

.friday-ui-asset-overview {
  width: 100%;

  * {
    box-sizing: border-box;
  }

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    > .metrics {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      > .total-shares {
        @include fonts.Inter(.8em, rgba(colors.$blue, .5));
        text-align: right;
      }
    }
  }

  > .quotation {
    margin-top: 10px;
    width: 100%;
    background: colors.$blue;
    border-radius: 10px;
    height: 120px;
    overflow: hidden;
  }

  > .actions {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > .action {
      margin-left: 10px;

      &:first-of-type {
        margin: 0;
      }
    }
  }

  > .item-editor {
    margin-top: 10px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: solid rgba(colors.$blue, .1) 1px;
    display: none;

    &.active {
      display: block;
    }
  }

  &.medium {
    > .quotation {
      height: 150px;
      border-radius: 15px;
    }
  }

  &.big {
    > .quotation {
      height: 200px;
      border-radius: 20px;
    }
  }
}
