@use '../../styles/fonts';
@use '../../styles/colors';

.friday-ui-asset-overview {
  width: 100%;

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    > .metrics {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      > .shares {
        @include fonts.IBM-Plex-Sans(.8em, rgba(colors.$blue, .5))
      }
    }
  }

  > .quotation {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    background: colors.$blue;
    border-radius: 20px;
  }

  > .actions {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > .action {
      margin-left: 10px;

      &:first-of-type {
        margin: 0;
      }
    }
  }

  > .item-editor {
    margin-top: 10px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: solid rgba(colors.$blue, .1) 1px;
    display: none;

    &.active {
      display: block;
    }
  }
}
