@use '../../styles/colors';

button.friday-ui-asset-thumbnail,
a.friday-ui-asset-thumbnail {
  cursor: pointer;
  box-shadow: none;
  font-size: 1em;
}

.friday-ui-asset-thumbnail {
  width: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  border: none;
  font-size: 1em;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;

  * {
    box-sizing: border-box;
  }

  > .quotation {
    width: calc(100% - 200px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    -webkit-mask-image: linear-gradient(to left, black 0%, black 40%, transparent 100%);
    mask-image: linear-gradient(to left, black 0%, black 40%, transparent 100%);
  }

  > .container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .metrics {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: 10px;

      > .quotation {
        margin-left: 5px;
      }
    }
  }


  &.narrow {
    &.box {
      min-width: 250px;

      > .container {
        padding: 10px;
      }
    }

    > .container {
      flex-direction: column;
      align-items: stretch;

      > .metrics {
        width: 100%;
        margin-top: 10px;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-left: 0;

        > .quotation {
          margin: 0;
        }
      }
    }
  }

  &.box {
    &.default {
      background: white;
      border: solid rgba(colors.$blue, .1) 1px;
    }

    &.darker {
      background: rgba(black, .2);
      border: solid rgba(black, .1) 1px;
    }

    &.lighter {
      background: rgba(white, .2);
      border: solid rgba(white, .1) 1px;
    }

    &.small {
      min-width: 320px;
      height: 40px;

      > .container {
        padding: 0 10px;
      }
    }

    &.medium {
      min-width: 350px;
      height: 50px;

      > .container {
        padding: 0 15px;
      }
    }

    &.big {
      min-width: 400px;
      height: 60px;

      > .container {
        padding: 0 20px;
      }
    }

    &.large {
      min-width: 480px;
      height: 60px;

      > .container {
        padding: 0 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &.full {
      min-width: 500px;

      > .container {
        padding: 10px 20px;
      }
    }
  }
}
