@use '../styles/colors';
@use '../styles/fonts';

.friday-ui-notification-thumbnail {
  display: flex;
  background: none;
  margin: 0;
  border: none;
  outline: none;
  text-align: left;
  padding: 5px;

  > .container {
    margin-left: 10px;
    flex: 1;

    > .creation {
      @include fonts.Inter(.8em, rgba(colors.$blue, .5));
      display: inline-block;
      margin-top: 1em;
    }
  }
}
