@use '../styles/colors';
@use '../styles/fonts';

.friday-ui-notification-list {
  > .notification {
    padding: 5px;
    border-top: solid rgba(colors.$blue, .1) 1px;

    &:first-of-type {
      border-top: none;
    }
  }

  > .empty {
    @include fonts.Inter(.9em, rgba(colors.$blue, .5));
    text-align: center;
    padding: 20px;
    width: 100%;
    display: inline-block;
  }
}
