@keyframes notification-appear {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes notification-disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.friday-ui-notifications-context {
  position: relative;

  > .notifications {
    position: absolute;
    top: 20px;
    right: 20px;

    > .notification {
      margin-top: 10px;
      animation: notification-appear 400ms forwards;

      &:first-of-type {
        margin: 0;
      }

      &.hidden {
        animation: notification-disappear 400ms forwards;
      }
    }
  }
}
