@use '../../styles/colors';
@use '../../styles/fonts';

.friday-ui-transaction-thumbnail {
  display: inline-block;
  background: colors.$light-blue;
  border-radius: 10px;
  padding: 15px 10px;
  border: solid rgba(colors.$blue, .1) 1px;
  font-size: 1em;

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .from {
      opacity: .5;
    }

    > .arrow {
      padding: 0 10px;

      > svg {
        stroke: colors.$blue;
      }
    }
  }

  > .resume {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;

    > span {
      font-weight: 700;
      font-size: .8em;
      text-transform: uppercase;
      margin-left: 5px;

      &:first-of-type {
        margin: 0;
      }
    }

    > .label {
      color: colors.$blue-50;
    }
  }

  > .asset {
    margin-top: 15px;
  }

  > .footer {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .quotation {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      > span {
        font-weight: 700;
        font-size: .8em;
        text-transform: uppercase;
        margin-left: 5px;

        &:first-of-type {
          margin: 0;
        }
      }

      > .label {
        color: colors.$blue-50;
      }
    }

    > .creation {
      font-size: .8em;
      color: colors.$blue-50;
    }
  }
}
