@use "../../styles/colors";

.friday-ui-composition-position-thumbnail {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .container {
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background linear 100ms;
    flex: 1;
    -webkit-touch-callout: none;
    user-select: none;

    > .metrics {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 5px;

      > .metric {
        margin-left: 5px;

        &:first-of-type {
          margin: 0;
        }
      }
    }
  }

  > button.container,
  > a.container {
    cursor: pointer;

    &:hover {
      background: rgba(colors.$blue, .1);
    }
  }

  > .delete {
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    user-select: none;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    padding: 5px;
    margin: 0 0 0 10px;

    > svg {
      display: block;
      stroke: colors.$blue;
    }
  }

  &.light {
    > button.container,
    > a.container {
      &:hover {
        background: rgba(white, .1);
      }
    }

    > .delete > svg {
      stroke: white;
    }
  }
}
