@use "../../styles/colors";

.friday-ui-composition-position-thumbnail {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .player {
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background linear 100ms;
    flex: 1;
    -webkit-touch-callout: none;
    user-select: none;
  }

  > button.player,
  > a.player {
    cursor: pointer;

    &:hover {
      background: rgba(colors.$blue, .1);
    }
  }

  > .delete {
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    user-select: none;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    padding: 5px;
    margin: 0 0 0 10px;

    > svg {
      display: block;
      stroke: colors.$blue;
    }
  }

  &.light {
    > button.player,
    > a.player {
      &:hover {
        background: rgba(white, .1);
      }
    }

    > .delete > svg {
      stroke: white;
    }
  }
}
