@use '../../styles/colors';

.goatim-ui-soccer-field-position {
  border: none;
  padding: 0;
  background: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .icon {
    position: relative;

    > img {
      object-fit: contain;
      object-position: center center;
      margin: 0;
      padding: 0;
      display: block;
    }

    > .no-icon {
      background: colors.$blue;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      > svg {
        stroke: white;
      }
    }

    > .placeholder {
      box-sizing: border-box;
      display: block;
      background: rgba(colors.$blue, .5);
      border: solid colors.$blue 1px;
      border-radius: 50%;
      box-shadow: 0 5px 10px rgba(colors.$blue, .2);
    }
  }

  > span {
    font-size: .7em;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
    margin-top: 0px; // TODO externlize
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.light {
    > .icon {
      > .no-icon {
        background: white;

        > svg {
          stroke: colors.$blue;
        }
      }

      > .placeholder {
        background: rgba(white, .5);
        border: solid white 1px;
      }
    }

    > span {
      color: white;
    }
  }

  &.boosted {
    > span {
      color: colors.$fushia;
    }
  }

  &.small {
    > .icon {
      > img, > .no-icon, > .placeholder {
        width: 25px;
        height: 25px;
      }

      > .placeholder {
        border-width: 1px;
      }
    }

    > span {
      max-width: 80px;
    }
  }

  &.medium {
    > .icon {
      > img, > .no-icon, > .placeholder {
        width: 20px;
        height: 20px;
      }

      > .placeholder {
        border-width: 2px;
      }
    }

    > span {
      max-width: 100px;
    }
  }

  &.large {
    > .icon {
      > img, > .no-icon, > .placeholder {
        width: 60px;
        height: 60px;
      }

      > .placeholder {
        border-width: 3px;
      }
    }

    > span {
      max-width: 120px;
    }
  }
}
