@use '../../styles/colors';

button.friday-ui-soccer-field-position {
  cursor: pointer;
}

.friday-ui-soccer-field-position {
  border: none;
  box-sizing: border-box;
  padding: 0;
  background: none;
  outline: none;

  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  > .no-icon {
    width: 100%;
    height: 100%;
    background: colors.$blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      stroke: white;
    }
  }

  > .placeholder {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(colors.$blue, .5);
    border: solid colors.$blue 1px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(colors.$blue, .2);
  }

  &.light {
    > .no-icon {
      background: white;

      > svg {
        stroke: colors.$blue;
      }
    }

    > .placeholder {
      background: rgba(white, .5);
      border: solid white 1px;
    }
  }

  &.small {
    width: 25px;
    height: 25px;

    > .placeholder {
      border-width: 1px;
    }
  }

  &.medium {
    width: 30px;
    height: 30px;

    > .placeholder {
      border-width: 2px;
    }
  }

  &.large {
    width: 60px;
    height: 60px;

    > .placeholder {
      border-width: 3px;
    }
  }
}
