@use "../../styles/fonts";
@use "../../styles/colors";

.goatim-ui-booster-item-thumbnail {
  display: flex;
  flex-direction: column;

  > .name {
    font-size: .8em;
    font-weight: bold;
  }

  > .leverage {
    margin-top: 5px;
    font-size: .9em;
    font-weight: 500;
    color: colors.$blue-50;
  }
}
