@use "../../styles/colors";
@use "../../styles/fonts";

.goatim-ui-checkout-bill {
  > .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    &:first-of-type {
      margin: 0;
    }

    > span {
      @include fonts.Inter(.8em, rgba(colors.$blue, .5), bold);
      text-align: right;
    }

    &.total > span {
      @include fonts.Inter(.9em, colors.$blue, bold);
    }
  }
}
