@use "~@cezembre/fronts/dist/containers";
@use "../../styles/fonts";
@use "../../styles/colors";
@use "../../styles/forms";

.friday-ui-order-item-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > h1 {
    @include fonts.Inter(1.1em, colors.$blue, black);
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }

  &.buy {
    > h1 > span {
      color: colors.$green;
    }
  }

  &.sell {
    > h1 > span {
      color: colors.$red;
    }
  }

  > .instruction {
    @include fonts.Inter(.8em, rgba(colors.$blue, .5));
    text-align: center;
    margin: 10px 0 0;
    max-width: 400px;
  }

  > .type {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .counters {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    > .counter {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &:first-of-type {
        margin: 0;
      }

      > .total {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        > .label {
          @include fonts.Inter(.8em, colors.$blue-50);
          margin-right: 5px;
        }
      }
    }
  }

  > .order-book {
    width: 100%;
    margin-top: 50px;
  }

  > .booster {
    margin-top: 20px;

    > h2 {
      @include fonts.Inter(1.1em, colors.$blue, bold);
      margin: 0;
      text-align: center;
    }

    > h3 {
      @include fonts.Inter(.8em, rgba(colors.$blue, .5), bold);
      text-align: center;
      margin-top: .5em;
    }

    > .boosters {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    }
  }

  > .actions {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    > .action {
      margin-left: 30px;

      &:first-of-type {
        margin: 0;
      }
    }
  }

  > .error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }

  > .bank-proposal {
    width: 100%;
    background: rgba(colors.$gold, .1);
    border: solid rgba(colors.$gold, .2) 1px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > .caption {
      @include fonts.Inter(.8em, colors.$gold, bold);
      font-style: italic;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 1px;
        background: colors.$gold;
        margin-right: 10px;
      }

      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 1px;
        background: colors.$gold;
        margin-left: 10px;
      }
    }

    > .quotation {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      > .multiple {
        @include fonts.Inter(.8em, colors.$gold);
        margin-top: 2px;
      }
    }

    > .action {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }

    > p {
      @include fonts.Inter(.8em, colors.$gold);
      margin: 20px 0 0;
      text-align: center;
      max-width: 350px;
    }
  }

  &.narrow {
    > .counters {
      flex-direction: column;

      > .counter {
        margin: 20px 0 0;

        &:first-of-type {
          margin: 0;
        }
      }
    }
  }
}
