@use "../../styles/fonts";
@use "../../styles/colors";

.goatim-ui-pack-item-thumbnail {
  > .name {
    font-size: .8em;
    font-weight: bold;
  }

  > .odd {
    > .label {
      font-size: 0.8em;
      margin-right: 5px;
    }
  }
}
