@use '~@cezembre/fronts/dist/screens';
@use '~@cezembre/fronts/dist/layouts';
@use '../styles/colors';
@use '../styles/fonts';
@use '../styles/forms';

.friday-ui-fields-counter {
  width: 200px;

  > label {
    @include forms.label();
    text-align: center;
    width: 100%;
  }

  input, input:active, input:focus {
    border: none;
    outline: none;
    text-decoration: none;
  }

  > .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > button {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-sizing: border-box;
      border: none;
      outline: none;
      @include fonts.AvantGardeGothicStd(1.8em, black, bold);
      padding: 5px;
      background: none;
      cursor: pointer;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > input {
      @include fonts.AvantGardeGothicStd(.8em, black, bold);
      flex: 1;
      padding: 1.12em 1.1em .8em; // Magic value, compensate font bottom padding
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border-radius: 5px;
      border: solid black 1px;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::placeholder {
        color: rgba(black, .5);
      }
    }
  }

  &.black {
    > .container {
      > input {
        background: black;
        border: none;
        color: white;

        &::placeholder {
          color: rgba(white, .6);
        }
      }
    }
  }

  &.colored {
    > .container {
      > input {
        background: colors.$violet-pink-gradient;
        border: none;
        color: white;

        &::placeholder {
          color: rgba(white, .6);
        }
      }
    }
  }

  > .instructions {
    @include forms.instructions();
  }

  > .error, > .warning {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;

    > span {
      @include fonts.AvantGardeGothicStd(.8em, colors.$red);
      margin-left: 10px;
    }
  }

  > .warning {
    > span {
      color: colors.$orange;
    }
  }
}
