@use '~@cezembre/fronts/dist/screens';
@use '../styles/colors';
@use '../styles/fonts';
@use '../styles/forms';

.fleuraison-ui-credit-card-input {
  width: 100%;

  > label {
    @include forms.label();
  }

  > .card {
    width: 100%;
    padding: 15px;
    background: white;
    border: solid rgba(colors.$blue, .1) 1px;
    border-radius: 5px;
    transition: border linear 100ms, box-shadow linear 100ms;
  }

  &:hover > .card {
    border: solid rgba(grey, .6) 1px;
    box-shadow: 0 0 5px rgba(grey, .2);
  }

  &.active > .card {
    border: solid grey 1px;
  }

  > .instructions {
    @include forms.instructions();
  }

  > .error {
    @include forms.error();
  }

  > .warning {
    @include forms.warning();
  }
}
