@use '../styles/colors';
@use '../styles/fonts';

.fleuraison-ui-day {

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > label {
      @include fonts.Poppins(.9em, colors.$blue, bold);
      letter-spacing: .05em;
      text-transform: uppercase;
      display: inline-block;
    }

    > .time-slots {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > .time-slot {
        margin-left: 10px;

        &:first-child {
          margin: 0;
        }

      }

    }

  }

}
