@use '~@cezembre/fronts/dist/screens';
@use '~@cezembre/fronts/dist/layouts';
@use '../styles/colors';
@use '../styles/fonts';

.friday-ui-input {
  > label {
    @include fonts.AvantGardeGothicStd(.9em);
    padding-bottom: 10px;
    display: inline-block;

    @include screens.tablet() {
      padding-bottom: 8px;
      font-size: .8em;
    }
  }

  input, input:active, input:focus {
    border: none;
    outline: none;
    text-decoration: none;
    background: transparent;
  }

  > .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    transition: background linear 100ms;
    background: colors.$placeholder-grey;
    border: solid colors.$border-grey 1px;
    border-radius: 5px;

    > .left-component {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 5px 0 5px 5px;
    }

    > input {
      @include fonts.AvantGardeGothicStd(1em, colors.$violet, 300);
      flex: 1;
      padding: 1.12em 1.1em .8em; // Magic value, compensate font bottom padding
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      @include screens.tablet() {
        font-size: .9em;
      }

      @include screens.mobile-L() {
        font-size: .8em;
      }

      &::placeholder {
        color: rgba(colors.$violet, .5);
      }
    }

    > .right-component {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 5px 5px 5px 0;
    }

    > .suggestions {
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      background: white;
      width: 100%;
      top: 100%;
      transition: opacity linear 100ms;
      @include layouts.modal();

      > .suggestion {
        display: block;
        text-align: left;
        width: 100%;
        border: none;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        flex-shrink: 0;
        border-top: solid colors.$grey 1px;
        background: white;
        transition: background linear 100ms;

        &:first-child {
          border: none;
        }

        &:hover, &.selected {
          background: colors.$grey;
        }
      }
    }
  }

  &.active > .container {
    background: white;
  }

  &.suggestions-active {
    > .container > .suggestions {
      visibility: visible;
      opacity: 1;
    }
  }

  &.search > .container {
    > .left-icon {
      background: colors.$dark-blue;
    }
  }

  > .instructions {
    @include fonts.AvantGardeGothicStd(1em, colors.$grey);
    margin-top: 10px;

    @include screens.tablet() {
      font-size: .9em;
    }
  }

  > .error, > .warning {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;

    @include screens.tablet() {
      margin-top: 10px;
    }

    > span {
      @include fonts.AvantGardeGothicStd(.9em, colors.$red);
      margin-left: 10px;

      @include screens.tablet() {
        font-size: .9em;
      }
    }
  }

  > .warning {
    > span {
      color: colors.$orange;
    }
  }
}
