@use '~@cezembre/fronts/dist/screens';
@use '~@cezembre/fronts/dist/layouts';
@use '../styles/colors';
@use '../styles/fonts';

.fleuraison-ui-input {
  width: 100%;
  transition: width linear 100ms;

  > label {
    @include fonts.Poppins(.9em, colors.$blue, bold);
    letter-spacing: .05em;
    text-transform: uppercase;
    padding-bottom: 10px;
    display: inline-block;

    @include screens.tablet() {
      padding-bottom: 8px;
      font-size: .8em;
    }

  }

  input, input:active, input:focus {
    border: none;
    outline: none;
    text-decoration: none;
    background: transparent;

  }

  > .container {
    transition: background linear 100ms;
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 3px;
      background: colors.$blue;
      animation-duration: 400ms;
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-fill-mode: forwards;
    }

    > .left-icon {
      padding-left: 15px;
    }

    > input {
      @include fonts.Poppins(1em, colors.$blue, normal);
      flex: 1;
      padding: 10px 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      @include screens.tablet() {
        font-size: .9em;
      }

      @include screens.mobile-L() {
        font-size: .8em;
      }

      &::placeholder {
        color: rgba(colors.$blue, .3);
        font-style: italic;
      }

    }

    > .suggestions {
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      background: white;
      width: 100%;
      top: 100%;
      transition: opacity linear 100ms;
      @include layouts.modal();

      > .suggestion {
        display: block;
        text-align: left;
        width: 100%;
        border: none;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        flex-shrink: 0;
        border-top: solid colors.$beige 1px;
        background: white;
        transition: background linear 100ms;

        &:first-child {
          border: none;
        }

        &:hover, &.selected {
          background: colors.$light-grey;
        }

      }

    }
  }

  &.visited > .container:after {
    animation-name: width-out;
  }

  &.active > .container:after {
    left: 0;
    animation-name: width-in;
  }


  &.suggestions-active {
    > .container > .suggestions {
      visibility: visible;
      opacity: 1;
    }
  }

  &.big {
    > .container {
      > input {
        padding: 30px 40px;
        font-size: 1.2em;

        @include screens.tablet() {
          font-size: 1.1em;
          padding: 25px 35px;
        }

        @include screens.mobile-L() {
          font-size: 1em;
          padding: 20px 30px;
        }

      }
    }

  }

  &.menu {

    > .container {
      background: colors.$green;
      border-radius: 8px;

      > input {
        padding: 10px 10px;
        color: white;

      }

      > .suggestions {
        top: 100%;
        border-radius: 8px;

      }
    }

    &.active {

      > .container {
        background: white;

        &:after {
          width: 0;
        }

        > input {
          color: colors.$blue;
        }
      }

    }

  }

  &.negative {

    >label {
      color: colors.$beige;
    }

    > .container {

      &:after {
        background: colors.$green;

      }
    }

  }

  > .instructions {
    @include fonts.Poppins(1em, colors.$dark-beige);
    margin-top: 10px;

    @include screens.tablet() {
      font-size: .9em;
    }
  }

  > .error, > .warning {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;

    @include screens.tablet() {
      margin-top: 10px;
    }

    > span {
      @include fonts.Poppins(.9em, colors.$red);
      margin-left: 10px;

      @include screens.tablet() {
        font-size: .9em;
      }

    }

  }

  > .warning {

    > span {
      color: colors.$blue;
    }

  }

}
