@use '~@cezembre/fronts/dist/screens';
@use '~@cezembre/fronts/dist/layouts';
@use '../styles/colors';
@use '../styles/fonts';
@use '../styles/forms';

.friday-ui-fields-input {
  > label {
    @include forms.label();
  }

  input, input:active, input:focus {
    border: none;
    outline: none;
    text-decoration: none;
    background: transparent;
  }

  > .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    transition: background linear 100ms;
    background: white;
    border: solid colors.$border-grey 1px;
    border-radius: 5px;

    > .left-component {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 5px 0 5px 5px;
    }

    > input {
      @include fonts.AvantGardeGothicStd(1em, colors.$violet, 300);
      flex: 1;
      padding: 0.98em 0.9em 0.6em; // Magic value, compensate font bottom padding

      &::placeholder {
        color: rgba(colors.$violet, .5);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    > .right-component {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 5px 5px 5px 0;
    }

    > .suggestions {
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      background: white;
      width: 100%;
      top: 100%;
      transition: opacity linear 100ms;
      @include layouts.modal();

      > .suggestion {
        display: block;
        text-align: left;
        width: 100%;
        border: none;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        flex-shrink: 0;
        border-top: solid colors.$grey 1px;
        background: white;
        transition: background linear 100ms;

        &:first-child {
          border: none;
        }

        &:hover, &.selected {
          background: colors.$grey;
        }
      }
    }
  }

  &.active > .container {
    background: white;
  }

  &.black {
    > .container {
      background: black;
      border-color: black;

      > input {
        color: white;

        &::placeholder {
          color: rgba(white, .6);
        }
      }
    }

    &.active > .container > input {
      color: black;
    }
  }

  &.suggestions-active {
    > .container > .suggestions {
      visibility: visible;
      opacity: 1;
    }
  }

  > .instructions {
    @include forms.instructions();
  }

  > .error {
    @include forms.error();
  }

  > .warning {
    @include forms.warning();
  }
}
