@use '../styles/colors';
@use '../styles/fonts';

.fleuraison-ui-place {

  .fleuraison-ui-place-prediction {
    @include fonts.Poppins();
    padding: 10px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    > .secondary-text {
      color: colors.$dark-beige;
    }

  }

  .fleuraison-ui-place-predictions-footer {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > img {
      height: 10px;
      margin-right: 20px;
    }
  }


}
