@use "~@cezembre/fronts/dist/screens";
@use "../styles/colors";
@use "../styles/fonts";

.friday-ui-switch {

  > .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .box {
      width: 50px;
      height: 30px;
      padding: 2px;
      background: rgba(colors.$grey, .1);
      border: solid rgba(colors.$grey, .4) 1px;
      cursor: pointer;
      outline: none;
      position: relative;
      border-radius: 15px;

      > .status {
        transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: colors.$grey;
      }

      &:focus {
        outline: none;
      }

      &[aria-pressed=true] {
        border: solid colors.$green 1px;
        background: white;

        > .status {
          transform: translateX(20px);
          background: colors.$green;

        }

      }

    }


    >label {
      @include fonts.AvantGardeGothicStd(.9em, colors.$blue, bold);
      letter-spacing: .05em;
      text-transform: uppercase;
      display: inline-block;
      margin-left: 20px;

      @include screens.tablet() {
        font-size: .8em;
        margin-left: 15px;
      }

    }
  }

}
