@use "~@cezembre/fronts/dist/screens";
@use "../styles/colors";
@use "../styles/fonts";

.fleuraison-ui-textarea {
  width: 100%;
  transition: width linear 100ms;

  > label {
    @include fonts.Poppins(.9em, colors.$blue, bold);
    letter-spacing: .05em;
    text-transform: uppercase;
    padding-bottom: 10px;
    display: inline-block;

    @include screens.tablet() {
      padding-bottom: 8px;
      font-size: .8em;
    }

  }

  textarea, textarea:active, textarea:focus {
    border: none;
    outline: none;
    text-decoration: none;
    background: transparent;

  }

  > .container {
    transition: background linear 100ms;
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 3px;
      background: colors.$blue;
      animation-duration: 400ms;
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-fill-mode: forwards;
    }

    >textarea {
      @include fonts.Poppins(1em, colors.$blue, normal);
      flex: 1;
      padding: 10px 15px;

      &::placeholder {
        color: rgba(colors.$blue, .3);
        font-style: italic;
      }

    }

  }

  &.visited {
    > .container {
      &:after {
        animation-name: width-out;
      }
    }
  }

  &.active {
    > .container {
      &:after {
        left: 0;
        animation-name: width-in;
      }
    }
  }

  > .instructions {
    @include fonts.Poppins(1em, colors.$dark-beige);
    margin-top: 10px;

    @include screens.tablet() {
      font-size: .9em;
    }
  }

  > .error, > .warning {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;

    @include screens.tablet() {
      margin-top: 10px;
    }

    > span {
      @include fonts.Poppins(.9em, colors.$red);
      margin-left: 10px;

      @include screens.tablet() {
        font-size: .9em;
      }

    }

  }

  > .warning {

    > span {
      color: colors.$blue;
    }

  }

}
