@use "../styles/colors";
@use "../styles/fonts";

.friday-ui-time-picker {
  height: 300px;

  > .container {
    display: flex;
    height: 100%;

    > ul  {
      border-left: solid rgba(colors.$blue, .1) 1px;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: auto;
      list-style: none;

      &:first-child {
        border-left: none;
      }

      > li {
        margin: 0;
        padding: 0;
        display: list-item;

        > button {
          width: 100%;
          @include fonts.AvantGardeGothicStd(1em);
          margin: 0;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 5px 25px 5px 15px;

          &:hover {
            background: rgba(colors.$blue, .1);
          }

          &.selected {
            background: colors.$blue;
            color: colors.$grey;

            &:hover {
              background: colors.$blue;
              color: colors.$grey;
            }

          }

        }

      }

    }

  }

}
