@use '../../styles/colors';

.goatim-ui-pack-thumbnail {
  > .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 300px;
    padding: 0 20px;

    > h1 {
      font-size: 2.3em;
      font-weight: bold;
      font-style: italic;
      margin: 0;
      padding: 20px 0 0;
    }
  }

  > .shares-bulks {
    margin-top: 30px;
    padding: 0 20px;
  }

  > .footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    > .pack-factory {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      > span {
        font-size: .8em;

        &.value {
          margin-left: 5px;
          font-weight: bold;
        }
      }
    }

    > .valuation {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > .label {
        font-size: .8em;
        margin-right: 5px;
      }
    }
  }

  > .wallpaper {
    height: 150px;
    margin-top: 20px;
  }
}
