@use '../../styles/colors';
@use '../../styles/fonts';

button.friday-ui-pack-factory-thumbnail,
a.friday-ui-pack-factory-thumbnail {
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.friday-ui-pack-factory-thumbnail {
  box-sizing: border-box;
  border-radius: 20px;
  background: white;
  border: solid rgba(colors.$blue, .1) 1px;
  width: 100%;
  max-width: 280px;
  position: relative;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  > .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: colors.$gold;
    border-bottom: solid rgba(black, .05) 1px;
    padding: 20px;

    > .label {
      @include fonts.Inter(0.9em, rgba(white, .5), 600);
      text-transform: uppercase;
    }

    > .odds {
      margin-top: 5px;

      > .odd {
        > .label {
          @include fonts.Inter(0.9em, white, 500);
          margin-right: 5px;
        }
      }
    }
  }

  > .body {
    display: flex;
    flex-direction: column;
    padding: 20px;

    > .title {
      @include fonts.Inter(0.7em, colors.$blue, bold);
      margin: 0;
      padding: 0;
    }

    > .price {
      @include fonts.Inter(1.8em, colors.$blue, bold);
      margin: .1em 0 0;
      padding: 0;
    }

    > .description {
      @include fonts.Inter(0.7em, rgba(colors.$blue, .7), medium);
      margin: 1em 0 0;
      padding: 0;
    }
  }

  > .actions {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}
