@use '~@cezembre/fronts/dist/screens';
@use '../../styles/colors';

.friday-ui-pack-modal {
  background: white;
  border-radius: 20px;
  width: 400px;
  overflow: hidden;

  @include screens.tablet-S {
    width: 100%;
  }
}
