$blue: #323960;
$blue-90: #474D70;
$blue-80: #5B6180;
$blue-70: #707590;
$blue-60: #8488A0;
$blue-50: #999CB0;
$blue-40: #ADB0C0;
$blue-30: #C2C4CF;
$blue-20: #D6D7DF;
$blue-10: #EBECEF;
$blue-5: #F5F5F7;
$light-blue: #F5F8FF;
$medium-blue: #D1D8FF;
$electric-blue: #4958FF;
$fushia: #E8376E;
$gold: #D4B759;
$green: #4EB778;
$red: #D36767;
$orange: #e78c55;
