$blue: #323960;
$blue-90: #474d70;
$blue-80: #5b6180;
$blue-70: #707590;
$blue-60: #8488a0;
$blue-50: #999cb0;
$blue-40: #adb0c0;
$blue-30: #c2c4cf;
$blue-20: #d6d7df;
$blue-10: #ebecef;
$blue-5: #f5f5f7;
$date: rgba(50, 57, 96, 0.5);
$light-blue: #f5f8ff;
$medium-blue: #d1d8ff;
$electric-blue: #4958ff;
$fushia: #e8376e;
$gold: #d4b759;
$green: #4eb778;
$dark-green: #416129;
$red: #d36767;
$orange: #e78c55;
$default-background: #e6eaf3;
$default-border: rgba(50, 57, 96, 0.1);
$default-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.15);
