$blue: #4292C1;
$dark-blue: #0A1733;
$violet: #4B538F;
$pink: #E8376E;
$orange: #CA6633;
$yellow: #FFED6B;
$green: #99CC99;

$grey: #A5ADB2;
$border-grey: #d6dfe5;
$background-grey: #F7F5F9;
$placeholder-grey: #EDEDF3;

$red: #ea7070;

$violet-pink-gradient: linear-gradient(90deg, $violet 0%, $pink 100%);
$orange-yellow-gradient: linear-gradient(90deg, $orange 0%, $orange 40%, $yellow 100%);
