@use "~@cezembre/fronts/dist/screens";

$default-div-padding: 10px;
$default-div-radius: 20px;
$default-border-radius: 10px;
$default-banner-border-radius: 20px;

@mixin padding-size {
  @include screens.tablet-S {
    padding: 10px 20px;
  }

  @include screens.mobile-L {
    padding: 5px 15px;
  }

  @include screens.mobile-M {
    padding: 2px 10px;
  }
}

@mixin padding-size-vertical {
  @include screens.tablet-S {
    padding: 0 20px;
  }

  @include screens.mobile-L {
    padding: 0 15px;
  }

  @include screens.mobile-M {
    padding: 0 10px;
  }
}
