@use "fonts";

/*
* Avant Garde Gothic Std
*/

// Book

@font-face {
  font-family: 'ITC Avant Garde Std Bk';
  src: url('../assets/ITCAvantGardeStd-Bk.eot');
  src: local('ITC Avant Garde Gothic Std Book'), local('ITCAvantGardeStd-Bk'),
  url('../assets/ITCAvantGardeStd-Bk.eot?#iefix') format('embedded-opentype'),
  url('../assets/ITCAvantGardeStd-Bk.woff2') format('woff2'),
  url('../assets/ITCAvantGardeStd-Bk.woff') format('woff'),
  url('../assets/ITCAvantGardeStd-Bk.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: fonts.$AvantGardeGothicStd;
  src: url('../assets/ITCAvantGardeStd-BkObl.eot');
  src: local('ITC Avant Garde Gothic Std Book Oblique'), local('ITCAvantGardeStd-BkObl'),
  url('../assets/ITCAvantGardeStd-BkObl.eot?#iefix') format('embedded-opentype'),
  url('../assets/ITCAvantGardeStd-BkObl.woff2') format('woff2'),
  url('../assets/ITCAvantGardeStd-BkObl.woff') format('woff'),
  url('../assets/ITCAvantGardeStd-BkObl.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

// Medium

@font-face {
  font-family: fonts.$AvantGardeGothicStd;
  src: url('../assets/ITCAvantGardeStd-Md.eot');
  src: local('ITC Avant Garde Gothic Std Medium'), local('ITCAvantGardeStd-Md'),
  url('../assets/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
  url('../assets/ITCAvantGardeStd-Md.woff2') format('woff2'),
  url('../assets/ITCAvantGardeStd-Md.woff') format('woff'),
  url('../assets/ITCAvantGardeStd-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: fonts.$AvantGardeGothicStd;
  src: url('../assets/ITCAvantGardeStd-MdObl.eot');
  src: local('ITC Avant Garde Gothic Std Medium Oblique'), local('ITCAvantGardeStd-MdObl'),
  url('../assets/ITCAvantGardeStd-MdObl.eot?#iefix') format('embedded-opentype'),
  url('../assets/ITCAvantGardeStd-MdObl.woff2') format('woff2'),
  url('../assets/ITCAvantGardeStd-MdObl.woff') format('woff'),
  url('../assets/ITCAvantGardeStd-MdObl.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}


// Demi

@font-face {
  font-family: fonts.$AvantGardeGothicStd;
  src: url('../assets/ITCAvantGardeStd-Demi.eot');
  src: local('ITC Avant Garde Gothic Std Demi'), local('ITCAvantGardeStd-Demi'),
  url('../assets/ITCAvantGardeStd-Demi.eot?#iefix') format('embedded-opentype'),
  url('../assets/ITCAvantGardeStd-Demi.woff2') format('woff2'),
  url('../assets/ITCAvantGardeStd-Demi.woff') format('woff'),
  url('../assets/ITCAvantGardeStd-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: fonts.$AvantGardeGothicStd;
  src: url('../assets/ITCAvantGardeStd-DemiObl.eot');
  src: local('ITC Avant Garde Gothic Std Demi Oblique'), local('ITCAvantGardeStd-DemiObl'),
  url('../assets/ITCAvantGardeStd-DemiObl.eot?#iefix') format('embedded-opentype'),
  url('../assets/ITCAvantGardeStd-DemiObl.woff2') format('woff2'),
  url('../assets/ITCAvantGardeStd-DemiObl.woff') format('woff'),
  url('../assets/ITCAvantGardeStd-DemiObl.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

// Bold

@font-face {
  font-family: fonts.$AvantGardeGothicStd;
  src: url('../assets/ITCAvantGardeStd-Bold.eot');
  src: local('ITC Avant Garde Gothic Std Bold'), local('ITCAvantGardeStd-Bold'),
  url('../assets/ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/ITCAvantGardeStd-Bold.woff2') format('woff2'),
  url('../assets/ITCAvantGardeStd-Bold.woff') format('woff'),
  url('../assets/ITCAvantGardeStd-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: fonts.$AvantGardeGothicStd;
  src: url('../assets/ITCAvantGardeStd-BoldObl.eot');
  src: local('ITC Avant Garde Gothic Std Bold Oblique'), local('ITCAvantGardeStd-BoldObl'),
  url('../assets/ITCAvantGardeStd-BoldObl.eot?#iefix') format('embedded-opentype'),
  url('../assets/ITCAvantGardeStd-BoldObl.woff2') format('woff2'),
  url('../assets/ITCAvantGardeStd-BoldObl.woff') format('woff'),
  url('../assets/ITCAvantGardeStd-BoldObl.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
