@use '../../styles/fonts';
@use '../../styles/colors';

.friday-ui-league-thumbnail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  border: none;
  font-size: 1em;

  > h1 {
    @include fonts.IBM-Plex-Sans(1.5em, colors.$blue, bold);
    margin: 15px 0 0;
    padding: 0;
  }

  > span {
    @include fonts.IBM-Plex-Sans(.8em);
    margin: 0 0 0 10px;
    padding: 0;
  }

  &.medium > span {
    font-size: .9em;
  }

  &.big > span {
    font-size: 1em;
  }

  &.full {
    flex-direction: column;
  }

  &.light {
    > h1, > span {
      color: white;
    }
  }
}
