.friday-ui-league-overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > .clubs {
    margin-top: 40px;
  }

  &.small > .clubs {
    margin-top: 30px;
  }

  &.big > .clubs {
    margin-top: 50px;
  }
}
