@use '../../styles/fonts';
@use '../../styles/colors';

.friday-ui-league-thumbnail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > .name {
    @include fonts.Inter(.8em, colors.$blue, bold);
    margin: 0 0 0 10px;
    padding: 0;
  }

  &.medium > .name {
    margin-left: 10px;
    font-size: 1em;
  }

  &.big > .name {
    margin-left: 15px;
    font-size: 1.5em;
  }

  &.icon {
    flex-direction: column;

    > .name {
      margin: 10px 0 0;
    }

    &.medium > .name {
      margin-top: 10px;
    }

    &.big > .name {
      margin-top: 15px;
    }
  }

  &.light > .name {
    color: white;
  }
}
