@use '../../styles/fonts';
@use '../../styles/colors';

.goatim-ui-league-thumbnail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > .name {
    font-size: .8em;
    font-weight: bold;
    margin: 0 0 0 10px;
    padding: 0;
    white-space: nowrap;
  }

  &.medium > .name {
    margin-left: 10px;
    font-size: 1em;
  }

  &.big > .name {
    margin-left: 15px;
    font-size: 1.5em;
  }

  &.logo {
    flex-direction: column;

    > .name {
      margin: 10px 0 0;
    }

    &.medium > .name {
      margin-top: 10px;
    }

    &.big > .name {
      margin-top: 15px;
    }
  }

  &.light > .name {
    color: white;
  }

  &.active {
    > .name {
      color: colors.$electric-blue;
    }
  }
}
