@use '../../styles/colors';
@use '../../styles/fonts';

button.friday-ui-booster-thumbnail,
a.friday-ui-booster-thumbnail {
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.friday-ui-booster-thumbnail {
  box-sizing: border-box;
  border-radius: 18px;
  border: solid rgba(colors.$blue, .1) 1px;
  width: 100%;
  max-width: 275px;
  padding: 15px 35px 25px 35px;
  display: flex;
  flex-direction: column;
  position: relative;

  > .popular-container {
    position: absolute;
    right: 35px;
    > .popular-label {
      @include fonts.Inter(0.6em, white, bold);
      padding: 4px 12px;
      background: colors.$green;
      border-radius: 20px;
    }
  }

  > .title {
    text-transform: capitalize;
    margin-bottom: 2px;
    margin-top: 15px;
  }

  > .price {
    margin-bottom: 10px;
  }

  > .description {
    margin-bottom: 18px;
  }

  > .separator {
    width: 100%;
    margin-bottom: 18px;
  }

  > .multiplier-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 18px;
    > .multiplier-label {
      @include fonts.Inter(0.9em, colors.$gold, bold);
    }
  }

  > .buy-button {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &.light {
    background: white;
    > .title {
      @include fonts.Inter(0.7em, colors.$blue, bold);
    }
  
    > .price {
      @include fonts.Inter(1.8em, colors.$blue, bold);
    }

    > .description {
      @include fonts.Inter(0.7em, rgba(colors.$blue, .7), medium);
    }
  
    > .separator {
      border-top:solid 1px rgba(colors.$blue, .1);
    }
  }

  &.dark {
    background: colors.$blue;
    > .title {
      @include fonts.Inter(0.7em, white, bold);
    }
  
    > .price {
      @include fonts.Inter(1.8em, white, bold);
    }

    > .description {
      @include fonts.Inter(0.7em, #F5F8FF, medium);
    }
  
    > .separator {
      border-top:solid 1px #F5F8FF;
    }
  }
}
