@use '../../styles/colors';
@use '../../styles/fonts';

.friday-ui-booster-in-use-thumbnail {
  background: colors.$blue;
  width: 100%;
  border: none;
  font-size: 1em;

  > .container {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(white, .3) 0%, rgba(white, .1) 100%);

    > .infos {
      > .label {
        @include fonts.label-light;
      }

      > .leverage {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 5px;

        > .value {
          @include fonts.Inter(1.1em, white, bold);
        }

        > .stop {
          background: none;
          border: none;
          height: 18px;
          padding: 0;
          margin: 0 0 0 5px;
          opacity: .5;
          cursor: pointer;
          transition: opacity linear 100ms;

          &:hover {
            opacity: 1;
          }

          > svg {
            stroke: white;
          }
        }
      }
    }

    > .variations {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
  }

  &.active > .container {
    background: linear-gradient(135deg, colors.$fushia 0%, colors.$blue 100%);
  }
}
