@use '../../styles/colors';

.friday-ui-notification-list {
  > .notification {
    border-top: solid rgba(colors.$blue, .1) 1px;

    &:first-of-type {
      border-top: none;
    }
  }

  > .empty {
    font-size: .9em;
    color: colors.$blue-50;
    text-align: center;
    padding: 20px;
    width: 100%;
    display: inline-block;
  }
}
