@use "~@cezembre/fronts/dist/layouts";

@keyframes goatim-ui-notification-appear {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes goatim-ui-notification-disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.goatim-ui-notifications {
  @include layouts.modal;
  position: fixed;
  max-height: 100%;
  top: 0;
  right: 0;
  overflow: auto;
  padding: 20px;

  > .notification {
    margin-top: 10px;
    animation: goatim-ui-notification-appear 400ms forwards;

    &:first-of-type {
      margin: 0;
    }

    &.hidden {
      animation: goatim-ui-notification-disappear 400ms forwards;
    }
  }
}
