@use '../../styles/colors';

.friday-ui-notification-thumbnail {
  display: flex;
  background: none;
  margin: 0;
  border: none;
  outline: none;
  text-align: left;
  width: 100%;
  padding: 10px;
  background: white;
  transition: background linear 100ms;

  &.colored {
    &.unread {
      background: rgba(colors.$gold, .1);
    }
  }

  > .container {
    margin-left: 10px;
    flex: 1;

    > .creation {
      font-size: .8em;
      color: colors.$blue-50;
      display: inline-block;
      margin-top: 1em;
    }
  }
}
