@use '../../styles/colors';
@use '../../styles/fonts';

.goatim-ui-wallet-rank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 0;
  width: 100%;

  > .body {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > .position {
      @include fonts.Inter(.8em, colors.$blue, bold);
      box-sizing: border-box;
      min-width: 30px;
      padding: 0 5px;
      text-align: center;
    }
  }

  > .metrics {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &.light {
    > .body > .position {
      color: white;
    }
  }
}
