@use '../../styles/colors';
@use '../../styles/fonts';

.goatim-ui-wallet-coins-detail {
  > .section {
    display: flex;
    justify-content: space-between;
    border-top: solid colors.$blue-10 1px;
    padding: 0 10px;

    &:first-of-type {
      border: none;
    }

    > .infos {
      display: flex;
      flex-direction: column;

      > .label {
        font-size: .9em;
        font-weight: 500;
      }

      > .description {
        font-size: .8em;
        color: rgba(colors.$blue, .5);
        margin-top: 5px;
      }
    }

    > .value {
      margin-left: 20px;
    }
  }
}
