@use '@cezembre/fronts/dist/containers';
@use '../styles/colors';
@use '../styles/fonts';

.goatim-ui-onboarding-carousel-slide {
  > .illustration {
    > img {
      width: 100%;
    }
  }

  > .body {
    padding: 30px 20px 10px;

    > .title {
      font-size: 1.1em;
      font-weight: 500;
      margin: 0;
      padding: 0 20px;
    }

    > .description {
      font-size: 1em;
      color: colors.$blue-50;
      margin: 10px 0 0;
      padding: 0 20px;
    }
  }
}

.goatim-ui-onboarding-carousel {
  @include containers.small;
  
  > .slides {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transition: transform ease-out 300ms, height ease-out 100ms;
  }

  > .navigation {
    padding: 20px;
  }
}
