@use '../../styles/fonts';
@use '../../styles/colors';

.goatim-ui-portfolio-thumbnail {
  background: colors.$light-blue;
  border-radius: 10px;
  display: inline-block;
  position: relative;

  > .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 20px 0;

    > .buy-price {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      > .label {
        @include fonts.label;
      }
    }

    > .nb-shares {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      > .label {
        @include fonts.label;
      }

      > .value {
        @include fonts.Inter(.7em, colors.$blue, bold);
      }
    }
  }

  > .asset {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
  }

  > .details {
    visibility: hidden;
    height: 0;
    transition: height linear 100ms;

    > .metrics {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 5px 20px;

      > .dividends {
        display: flex;
        flex-direction: column;

        > .label {
          @include fonts.label;
          padding-bottom: 5px;
        }
      }

      > .gains {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        > .label {
          @include fonts.label;
          padding-bottom: 5px;
        }
      }
    }

    > .actions {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      > .action {
        margin-left: 20px;

        &:first-of-type {
          margin: 0;
        }
      }
    }

    > .quotation {
      width: 100%;
      height: 80px;
      margin-top: 15px;
    }

    .quotation-placeholder {
      height: 20px;
    }
  }

  > .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  &.show-details {
    > .details {
      visibility: visible;
      height: auto;
    }

    > .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
