@use '../../styles/fonts';
@use '../../styles/colors';

.friday-ui-portfolio-thumbnail {
  background: colors.$blue;
  border-radius: 10px;
  border: solid rgba(white, .2) 2px;
  outline-offset: -2px;
  max-width: 400px;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  > .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 20px;

    > .id {
      @include fonts.Inter(.7em, rgba(colors.$light-blue, .5));
    }

    > .nb_shares {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      > .label {
        @include fonts.label-light;
      }

      > .value {
        @include fonts.Inter(.9em, white, bold);
      }
    }
  }

  > .asset {
    display: block;
    text-decoration: none;
    padding: 0 10px;
  }

  > .lines {
    margin-top: 15px;

    > .line {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 10px 20px;

      > .cell {
        display: flex;
        flex-direction: column;

        > .label {
          @include fonts.label-light;
        }

        &.amount > .label {
          padding-bottom: 5px;
        }

        &.variation {
          align-items: flex-end;
        }
      }
    }
  }

  > .actions {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    > .action {
      margin-left: 20px;

      &:first-of-type {
        margin: 0;
      }
    }
  }

  > .quotation {
    width: 100%;
    height: 80px;
    margin-top: 15px;
  }

  &.narrow {
    max-width: 300px;
  }
}
