@use '../../styles/colors';
@use '../../styles/fonts';

.friday-ui-user-thumbnail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > .name {
    @include fonts.Inter(.8em, colors.$blue, bold);
  }

  &.show-picture {
    > .name {
      margin-left: 10px;
    }
  }

  &.medium {
    > .name {
      font-size: .9em;
    }
  }

  &.big {
    > .name {
      font-size: 1em;
    }
  }

  &.light {
    > .name {
      color: white;
    }
  }
}
