@use '../../styles/colors';

.goatim-ui-user-thumbnail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > .name {
    font-size: .8em;
    font-weight: bold;
  }

  &.show-picture {
    > .name {
      margin-left: 10px;
    }
  }

  &.medium {
    > .name {
      font-size: .9em;
    }
  }

  &.big {
    > .name {
      font-size: 1em;
    }
  }

  &.light {
    > .name {
      color: white;
    }
  }
}
