@use "../../styles/forms";
@use "../../styles/fonts";
@use "../../styles/colors";

.goatim-ui-user-editor {
  > .header {
    > h2 {
      font-size: 1.5em;
      font-weight: bold;
      margin: 0;
    }
  }

  > form {
    @include forms.form;
    margin-top: 20px;
  }
}
