@use '../styles/fonts';
@use '../styles/colors';

.friday-ui-friday-coins {
  @include fonts.Inter(.7em, colors.$blue, bold);

  &.medium {
    font-size: .8em;
  }

  &.big {
    font-size: .9em;
  }

  &.large {
    font-size: 1.1em;
  }

  &.light {
    color: white;
  }

  &.darker {
    color: rgba(colors.$blue, .5);
  }
}
