@use '../styles/fonts';
@use '../styles/colors';

.goatim-ui-goatim-coins-gains {
  display: inline-block;

  > .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > span {
      font-size: .7em;
      font-weight: bold;
    }

    > svg {
      fill: colors.$blue;
      margin-left: 5px;
    }
  }

  &.medium {
    > .container > span {
      font-size: .8em;
    }
  }

  &.big {
    > .container > span {
      font-size: .9em;
    }
  }

  &.large {
    > .container > span {
      font-size: 1.2em;
    }
  }

  &.positive {
    > .container {
      > span {
        color: colors.$green;
      }

      > svg {
        fill: colors.$green;
      }
    }
  }

  &.negative {
    > .container {
      > span {
        color: colors.$red;
      }

      > svg {
        fill: colors.$red;
      }
    }
  }

  &.zero {
    > .container {
      > span {
        color: colors.$blue-20;
      }

      > svg {
        fill: colors.$blue-20;
      }
    }
  }

  &.gold {
    > .container {
      > span {
        color: colors.$gold;
      }

      > svg {
        fill: colors.$gold;
      }
    }
  }
}
