@use '../styles/fonts';
@use '../styles/colors';

.goatim-ui-percentage-variation {
  font-size: .7em;
  font-weight: bold;

  &.medium {
    font-size: .8em;
  }

  &.big {
    font-size: .9em;
  }

  &.filled {
    padding: 2px 4px;
    border-radius: 2px;
    color: white;
  }

  &.positive {
    &.text {
      color: colors.$green;
    }

    &.filled {
      background: colors.$green;
    }
  }

  &.negative {
    &.text {
      color: colors.$red;
    }

    &.filled {
      background: colors.$red;
    }
  }

  &.zero {
    &.text {
      color: colors.$blue-20;
    }

    &.filled {
      background: colors.$blue-20;
    }
  }
}
