@use '../styles/colors';
@use '../styles/fonts';

.fleuraison-ui-image-upload {
  position: relative;
  background: colors.$dark-beige;
  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(colors.$blue, .3);
  }

  > input[type=file] {
    display: none;
    visibility: hidden;
  }

  > .image {
    background: colors.$dark-beige;
  }

  > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(colors.$blue, .5);
    opacity: 0;
    transition: opacity linear 100ms;

    > .error {
      @include fonts.Poppins(1em, white);
      background: colors.$red;
      padding: 5px 10px;
    }

  }

  &:hover, &.empty, &.active {
    > .overlay {
      opacity: 1;
    }
  }

}
