@use '~@cezembre/fronts/dist/screens';
@use '../styles/colors';
@use '../styles/fonts';

.friday-ui-button {
  display: block;
  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;
  border: none;
  outline: none;
  text-decoration: none;
  flex-shrink: 0;
  margin: 0;
  background: transparent;
  position: relative;
  transition: box-shadow linear 100ms, background linear 100ms;

  > .container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    > .body {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-shrink: 2;
      min-width: 0;

      > .left-icon {
        align-self: center;
        flex-shrink: 0;
        margin-right: 15px;
      }

      > .label {
        @include fonts.AvantGardeGothicStd(1em, colors.$violet, 600);
        align-self: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex-shrink: 2;

        @include screens.laptop() {
          font-size: .85em;
        }

        @include screens.tablet() {
          font-size: .8em;
        }
      }

      > .component {
        align-self: center;
        flex-shrink: 2;
        overflow: hidden;
      }
    }

    > .right-icon {
      align-self: center;
      flex-shrink: 0;
      margin-left: 15px;
    }
  }

  > .pending {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: colors.$blue;
    border-radius: 8px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility linear 100ms, opacity linear 100ms;

  }

  &.small {
    height: 30px;
    border-radius: 4px;

    &.fitted {
      padding: 0 10px;
    }

    &.square {
      width: 30px;

      > .container {
        justify-content: center;
      }
    }

    > .container > .body > .label {
      font-size: 0.9em;
    }
  }

  &.medium {
    height: 36px;
    border-radius: 6px;

    &.fitted {
      padding: 0 20px;
    }

    &.square {
      width: 36px;

      > .container {
        justify-content: center;
      }
    }
  }

  &.large {
    height: 40px;
    border-radius: 8px;

    &.fitted {
      padding: 0 30px;
    }

    &.square {
      width: 40px;

      > .container {
        justify-content: center;
      }
    }

    > .container > .body > .label {
      font-size: 1.1em;
    }
  }

  &.filled {
    &.violet-pink, &.orange-yellow, &.blue, &.dark-blue, &.violet {
      > .container {
        svg {
          fill: colors.$background-grey;
        }

        > .body > .label {
          color: colors.$background-grey;
        }
      }
    }

    &.violet-pink {
      background: colors.$violet;
      background: colors.$violet-pink-gradient;

      &:hover, &.active {
        box-shadow: 0 2px 5px rgba(colors.$violet, .5);
      }

    }

    &.orange-yellow {
      background: colors.$orange;
      background: colors.$orange-yellow-gradient;

      &:hover, &.active {
        box-shadow: 0 2px 5px rgba(colors.$orange, .5);
      }
    }

    &.blue {
      background: colors.$blue;

      &:hover, &.active {
        background: colors.$dark-blue;
      }
    }

    &.dark-blue {
      background: colors.$dark-blue;

      &:hover, &.active {
        background: colors.$violet;
      }
    }

    &.violet {
      background: colors.$violet;

      &:hover, &.active {
        background: colors.$pink;
      }
    }

    &.white {
      background: white;

      &:hover, &.active {
        box-shadow: 0 2px 5px rgba(colors.$grey, .8);
      }

      > .container {
        svg {
          fill: colors.$violet;
        }

        > .body > .label {
          color: colors.$violet;
        }
      }
    }
  }

  &.text, &.outlined {
    &.violet-pink:hover > .container, &.orange-yellow:hover > .container {
      svg {
        fill: colors.$background-grey;
      }

      > .body > .label {
        color: colors.$background-grey;
      }
    }

    &.violet-pink {
      > .container svg {
        fill: colors.$violet;
      }

      &:hover, &.active {
        background: colors.$violet;
      }
    }

    &.orange-yellow {
      > .container {
        svg {
          fill: colors.$orange;
        }

        > .body > .label {
          color: colors.$orange;
        }
      }

      &:hover, &.active {
        background: colors.$orange;
      }
    }

    &.white {
      > .container {
        svg {
          fill: colors.$background-grey;
        }

        > .body > .label {
          color: colors.$background-grey;
        }
      }

      &:hover, &.active {
        background: colors.$background-grey;

        > .container {
          svg {
            fill: colors.$violet;
          }

          > .body > .label {
            color: colors.$violet;
          }
        }
      }
    }
  }

  &.outlined {
    &.violet-pink {
      border: solid colors.$violet 1px;
    }

    &.orange-yellow {
      border: solid colors.$orange 1px;
    }

    &.white {
      border: solid colors.$background-grey 1px;
    }
  }

  &.link {
    padding: 0;

    &.violet-pink {
      > .container svg {
        fill: colors.$violet;
      }

      &:hover, &.active {
        > .container {
          svg {
            fill: colors.$dark-blue;
          }

          > .body > .label {
            color: colors.$dark-blue;
          }
        }
      }
    }

    &.orange-yellow {
      > .container {
        svg {
          fill: colors.$orange;
        }

        > .body > .label {
          color: colors.$orange;
        }
      }

      &:hover, &.active {
        > .container {
          svg {
            fill: colors.$dark-blue;
          }

          > .body > .label {
            color: colors.$dark-blue;
          }
        }
      }
    }

    &.white {
      > .container {
        svg {
          fill: colors.$background-grey;
        }

        > .body > .label {
          color: colors.$background-grey;
        }
      }

      &:hover, &.active {
        > .container {
          svg {
            fill: white;
          }

          > .body > .label {
            color: white;
          }
        }
      }
    }
  }

  &.disabled {
    pointer-events: none;
    background: colors.$blue;

    > .container > .body {
      > .left-icon svg, > .right-icon svg {
        fill: colors.$blue;
      }

      > .label {
        color: colors.$blue;
      }
    }
  }

  &.pending > .pending {
    visibility: visible;
    opacity: 1;
  }
}
