@use '~@cezembre/fronts/dist/screens';
@use '../styles/colors';
@use '../styles/fonts';
@use '../styles/forms';

.friday-ui-checkbox {
  > .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > label {
      @include forms.label;
      padding-bottom: 0;
      margin-left: 15px;
    }
  }
}
