@use '../styles/colors';
@use '../styles/fonts';

.friday-ui-check {
  width: 30px;
  height: 30px;
  background: white;
  border: solid rgba(colors.$blue, 0.1) 1px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
  border-radius: 5px;

  &.tag {
    width: auto;
    padding: 0 10px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(colors.$blue, 0.1);
  }

  > svg {
    stroke-dashoffset: 100;
    transition: stroke-dashoffset cubic-bezier(0.215, 0.61, 0.355, 1) 400ms;
    stroke: colors.$blue;
  }

  > span {
    @include fonts.IBM-Plex-Sans(1em, colors.$blue);
  }

  &[aria-pressed='true'] {
    > svg {
      stroke-dashoffset: 0;
    }

    > span {
      color: colors.$blue;
    }
  }
}
