@use '~@cezembre/fronts/dist/screens';
@use '~@cezembre/fronts/dist/layouts';
@use '../styles/colors';
@use '../styles/forms';

.friday-ui-counter {
  width: 220px;
  text-align: center;

  > label {
    @include forms.label;
    width: 100%;
  }

  > .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > button {
      box-sizing: border-box;
      border: none;
      outline: none;
      padding: 5px;
      background: none;
      cursor: pointer;

      &.plus {
        padding-left: 10px;
      }

      &.minus {
        padding-right: 10px;
      }

      > svg {
        stroke: colors.$blue;
      }
    }

    > input {
      @include forms.input;
      font-weight: bold;
      text-align: center;
      height: 40px;
      flex: 1;
      padding: 0 1em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::placeholder {
        color: rgba(white, .5);
      }

      &:focus {
        background: white;
      }
    }
  }

  > .conversion {
    font-size: .8em;
    color: colors.$blue-50;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
  }

  > .instructions {
    @include forms.instructions;
    width: 100%;
  }

  > .error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }
}
