@use '~@cezembre/fronts/dist/screens';
@use '~@cezembre/fronts/dist/layouts';
@use '../styles/fonts';
@use '../styles/colors';
@use '../styles/forms';

.goatim-ui-counter {
  text-align: center;

  > label {
    @include forms.label;
    width: 100%;
  }

  > .container {
    width: 100%;
    @include forms.input;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;

    > button {
      box-sizing: border-box;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &.plus {
        padding-left: 10px;
      }

      &.minus {
        padding-right: 10px;
      }

      > svg {
        stroke: colors.$blue;
      }
    }

    > input {
      font-family: fonts.$Inter;
      font-weight: bold;
      text-align: center;
      height: 40px;
      flex: 1;
      padding: 0 1em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      -moz-appearance: textfield;
      font-size: 1em;
      color: colors.$blue;
      transition: color linear 100ms, border linear 100ms, background linear 100ms, box-shadow linear 100ms;
      background: transparent;
      border-radius: 0;
      border: none;
      outline: none;

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::placeholder {
        color: rgba(white, .5);
      }

      &:focus {
        background: white;
      }
    }
  }

  &.small {
    width: 110px;

    > .container {
      > button {
        &.plus {
          padding-left: 5px;
        }

        &.minus {
          padding-right: 5px;
        }
      }

      > input {
        font-size: .8em;
        height: 35px;
      }
    }
  }

  &.medium {
    width: 150px;

    > .container {
      > input {
        font-size: .9em;
        height: 35px;
      }
    }
  }

  &.large {
    width: 220px;
  }

  &.full-width {
    width: 100%;
  }

  > .conversion {
    font-size: .8em;
    color: colors.$blue-50;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
  }

  > .instructions {
    @include forms.instructions;
    width: 100%;
  }

  > .error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }
}
