@use '~@cezembre/fronts/dist/layouts';
@use '../styles/colors';
@use '../styles/fonts';
@use "../styles/forms";

.friday-ui-date-picker {
  position: relative;
  box-sizing: border-box;

  > label {
    @include forms.label();
  }

  > .picker {
    box-sizing: border-box;
    height: 300px;
    width: 265px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &.expandable {
      @include layouts.popup;
      overflow: hidden;
      border: solid rgba(colors.$blue, .15) 1px;
      box-shadow: 0 0 10px rgba(colors.$blue, .1);
      border-radius: 10px;
      position: absolute;
      background: white;
      top: calc(100% + 5px);
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity linear 100ms;
    }

    &.expanded {
      visibility: visible;
      opacity: 1;
    }

    > .month {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > button {
        background: none;
        border: none;
        outline: none;
        margin: 0;
        padding: 10px;
        cursor: pointer;
      }

      > span {
        @include fonts.Inter(.9em);
      }
    }

    > .days-of-week {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      > span {
        @include fonts.Inter(.8em);
        text-transform: uppercase;
      }
    }

    > .days {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      align-items: center;

      > .day {
        @include fonts.Inter(.9em);
        border-radius: 5px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;

        &:hover {
          background: rgba(colors.$blue, .1);
        }

        &:disabled {
          color: black;
          cursor: default;

          &:hover {
            background: none;
          }
        }

        &.selected {
          background: colors.$electric-blue;
          color: white;
        }
      }

      > .placeholder {
        width: 35px;
        height: 35px;
      }
    }
  }

  >.error {
    @include forms.error();
  }

  > .warning {
    @include forms.warning();
  }
}
