@use '~@cezembre/fronts/dist/layouts';
@use '../styles/colors';
@use '../styles/fonts';
@use "../styles/forms";

.friday-ui-date-time-picker {
  position: relative;

  > label {
    @include forms.label;
    display: block;
  }

  > .picker {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    > .time {
      border-left: solid rgba(colors.$blue, .1) 1px;
    }

    &.expandable {
      @include layouts.popup;
      overflow: hidden;
      border: solid rgba(colors.$blue, .15) 1px;
      box-shadow: 0 0 10px rgba(colors.$blue, .1);
      border-radius: 10px;
      position: absolute;
      background: white;
      top: calc(100% + 5px);
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity linear 100ms;
    }

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  >.error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }
}
