.friday-ui-gutter {
  width: 100%;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  > .container {
    display: flex;
    align-items: stretch;
    -webkit-touch-callout: none;
    user-select: none;

    > .element {
      flex-shrink: 0;
    }
  }
}
