@use '../styles/colors';
@use '../styles/fonts';

.friday-ui-heading {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > .label {
    @include fonts.label;
    padding-bottom: .5em;
  }

  > svg {
    padding-bottom: 10px;
  }

  > svg[stroke] {
    stroke: colors.$blue;
    opacity: .5;
  }

  > svg:not([stroke]) {
    fill: colors.$blue;
    opacity: .5;
  }

  > .emoji {
    @include fonts.Inter(1.5em, colors.$blue, bold);
    margin: 0;
    padding: 0;
  }

  > .title {
    @include fonts.Inter(1.5em, colors.$blue, 900);
    margin: 0;
    padding: 0;
  }

  &.center {
    align-items: center;

    > .label, > .emoji, > .title {
      text-align: center;
    }
  }

  &.right, &.end {
    align-items: flex-end;

    > .label, > .emoji, > .title {
      text-align: right;
    }
  }

  &.small {
    max-width: 150px;

    > .label {
      font-size: .6em;
    }

    > .title {
      font-size: 1.2em;
    }
  }

  &.big {
    max-width: 250px;

    > .label {
      font-size: .8em;
    }

    > .title {
      font-size: 1.7em;
    }
  }

  &.light {
    > .label {
      color: rgba(white, .5);
    }

    > svg[stroke] {
      stroke: white;
      opacity: .5;
    }

    > svg:not([stroke]) {
      fill: white;
      opacity: .5;
    }

    > .title {
      color: white;
    }
  }

  &.live > .label {
    color: colors.$fushia;
  }

  &.live-light {
    > .label {
      color: colors.$fushia;
    }

    > svg[stroke] {
      stroke: colors.$fushia;
    }

    > svg:not([stroke]) {
      fill: colors.$fushia;
    }

    > .title {
      color: white;
    }
  }
}
