@use '~@cezembre/fronts/dist/screens';
@use '~@cezembre/fronts/dist/layouts';
@use '../styles/colors';
@use '../styles/fonts';
@use '../styles/forms';

.friday-ui-input {
  > label {
    @include forms.label;
  }

  > .container {
    @include forms.input;
    height: 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;

    > .left-component {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 5px 0 5px 5px;
    }

    > input {
      border: none;
      outline: none;
      text-decoration: none;
      background: transparent;
      font-size: .9em;
      flex: 1;
      padding: 0 .8em;

      &::placeholder {
        color: rgba(colors.$blue, .5);
        font-style: italic;
      }
    }

    > .right-component {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 5px 5px 5px 0;
    }

    > .suggestions {
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      background: white;
      border-radius: 10px;
      border: solid rgba(colors.$blue, .1) 1px;
      width: 100%;
      top: calc(100% + 10px);
      transition: opacity linear 100ms;
      @include layouts.modal;
      padding: 15px 0;

      > .namespace {
        border-top: solid rgba(colors.$blue, .1) 1px;
        padding-top: 15px;
        margin-top: 10px;

        &:first-of-type {
          border: none;
          padding: 0;
          margin: 0;
        }

        > span.label {
          @include fonts.Inter(.7em, rgba(colors.$blue, .5), bold);
          text-transform: uppercase;
          letter-spacing: .1em;
          padding: 0 15px;
          display: inline-block;
        }

        > .suggestions {
          margin-top: 0.5em;
        }
      }

      > .suggestion, > .namespace > .suggestions > .suggestion {
        display: block;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%;
        border: none;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        flex-shrink: 0;
        background: white;
        transition: border linear 100ms, box-shadow linear 100ms;

        &:hover, &.selected {
          background: rgba(colors.$blue, .05);
        }

        > span.friday-ui-input-suggestion {
          @include fonts.Inter(1em, colors.$blue, 500);
          margin: 0;
          padding: 5px 15px;
          display: inline-block;
        }
      }
    }
  }

  &.small >.container {
    height: 35px;

    > input {
      font-size: .8em;
    }
  }

  &.big >.container {
    height: 45px;

    > input {
      font-size: 1em;
    }
  }

  &.darker > .container {
    background: rgba(colors.$blue, .1);
  }

  &.lighter {
    > label {
      color: rgba(white, .5);
    }
    > .container {
      background: rgba(white, .5);
    }
  }

  &.active > .container {
    border: solid rgba(colors.$blue, .3) 1px;
    background: white;
  }

  &.dark > .container {
    background: colors.$blue;

    > input {
      color: white;

      &::placeholder {
        color: rgba(white, .5);
      }
    }

    &.active {
      background: white;

      > input {
        color: colors.$blue;

        &::placeholder {
          color: rgba(colors.$blue, .5);
        }
      }
    }
  }

  &.round > .container {
    border-radius: 20px;
  }

  &.suggestions-active > .container > .suggestions {
    visibility: visible;
    opacity: 1;
  }

  > .instructions {
    @include forms.instructions;
  }

  > .error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }
}
