@use '../styles/colors';

.goatim-ui-loader {
  display: inline-block;
  position: relative;

  > div {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  &.dark > div {
    border-color: colors.$blue transparent transparent transparent;
  }

  &.light > div {
    border-color: colors.$light-blue transparent transparent transparent;
  }
}
