@use '~@cezembre/fronts/dist/layouts';
@use '~@cezembre/fronts/dist/containers';
@use '~@cezembre/fronts/dist/screens';
@use '../styles/colors';

.goatim-ui-modal {
  @include layouts.modal;
  transition: opacity linear 100ms, visibility linear 100ms;

  &.pop-up, &.overlay {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(colors.$blue, .3);
    overflow-y: auto;

    > .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 100%;
      padding: 20px 20px 40px;

      > .element {
        position: relative;

        > .dismiss {
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 1;
          display: block;
          cursor: pointer;
          padding: 5px;
          margin: 0;
          border: none;
          outline: none;
          background: none;

          > svg {
            stroke: colors.$blue;
          }
        }
      }
    }
  }

  &.pop-up > .container {
    @include screens.tablet-S {
      align-items: flex-end;
      padding: 20px 0 0;
    }

    > .element {
      background: colors.$light-blue;
      border-radius: 20px;
      padding: 50px;

      @include screens.tablet {
        padding: 30px;
      }

      @include screens.tablet-S {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 20px;
      }
    }
  }

  &.overlay > .container > .element {
    @include screens.tablet-S {
      width: 100%;
    }
  }
}
