.number-circle {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-circle:before,
.number-circle:after {
  content: '\200B';
  display: inline-block;
  line-height: 0px;
  padding-top: 50%;
  padding-bottom: 50%;
}

.number-circle:before {
  padding-left: 8px;
}

.number-circle:after {
  padding-right: 8px;
}
