@use '../styles/colors';
@use '../styles/forms';

.goatim-ui-phone-input {
  > label {
    @include forms.label;
  }

  > .body {
    height: 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;

    > .country-code-selector {
      > button {
        @include forms.input;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        flex-shrink: 0;
        margin: 0;
        position: relative;
        padding: 0 15px;
        height: 100%;
        background: white;
        font-size: .9em;
        color: colors.$blue;
        font-weight: 600;
        border-right: none;
        border-radius: 5px 0 0 5px;
      }
    }

    > input {
      @include forms.input;
      border-radius: 0 5px 5px 0;
      flex: 1;
      font-size: .9em;
      padding: 0 12px;

      &::placeholder {
        color: rgba(colors.$blue, .5);
        font-style: italic;
      }
    }
  }

  > .instructions {
    @include forms.instructions;
  }

  > .error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }
}
