@use "../styles/colors";
@use "../styles/forms";

.goatim-ui-radio {
  > label {
    @include forms.label;
  }

  > .options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    > .option {
      margin-left: 20px;

      &:first-of-type {
        margin: 0;
      }
    }
  }

  &.vertical {
    > .options {
      flex-direction: column;

      > .option {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }

  > .instructions {
    margin-top: 10px;
  }

  > .error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }
}
