@use '~@cezembre/fronts/dist/layouts';
@use '~@cezembre/fronts/dist/screens';
@use "../styles/colors";
@use "../styles/forms";

.goatim-ui-select {
  > label {
    @include forms.label;
  }

  > .body {
    position: relative;

    > .selector {
      @include forms.input;
      cursor: pointer;
      display: inline-block;

      > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        > .value-button {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          text-decoration: none;
          margin: 0;
          padding: 0 12px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-height: 40px;
          flex: 1;

          > span {
            font-size: .9em;
            font-weight: 500;
            white-space: nowrap;
            text-align: left;
            flex: 1;
            text-overflow: ellipsis;
            overflow: hidden;

            &.placeholder {
              color: colors.$blue-50;
              font-weight: 600;
            }

            &.multiple-values {
              color: colors.$blue-50;
              font-weight: 600;
            }

            &.value {
              font-weight: 600;
              font-size: .9em;
              color: colors.$blue-80;
            }
          }

          > .dropdown-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;

            > svg[stroke] {
              stroke: colors.$blue-50;
            }
          }
        }

        > .reset {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          box-sizing: border-box;
          border: none;
          background: none;
          border-radius: 0;
          padding: 10px 10px 10px 0;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          > svg[stroke] {
            stroke: colors.$blue-50;
          }
        }
      }
    }

    > .options {
      @include layouts.modal;
      border-radius: 10px;
      padding: 4px 0;
      max-height: 300px;
      overflow: auto;
      border: solid rgba(colors.$blue, .2) 1px;
      box-shadow: 0 0 5px rgba(colors.$blue, .1);
      visibility: hidden;
      position: absolute;
      top: calc(100% + 4px);
      background: white;
      opacity: 0;
      transition: opacity linear 100ms;

      > .search {
        padding: 10px;

        > .body {
          @include forms.input;
          display: flex;
          align-items: center;

          > input {
            font-size: .9em;
            flex: 1;
            box-sizing: border-box;
            border: none;
            outline: none;
            padding: 8px 10px;
            width: 100%;
            background: none;
          }

          > svg {
            stroke: rgba(colors.$blue, .5);
            margin-right: 10px;
          }
        }
      }

      > .option {
        font-size: 1em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 8px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:hover, &.active {
          background: colors.$light-blue;
        }

        > .check {
          margin-right: 10px;
        }

        > span {
          font-size: .9em;
          font-weight: 600;
          color: colors.$blue-80;
          white-space: nowrap;
          text-align: left;
          flex: 1;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  &.full-width > .body > .selector {
    width: 100%;
  }

  &.active > .body > .options {
    visibility: visible;
    opacity: 1;
  }

  &.round {
    > .body > .selector {
      border-radius: 20px;

      > .container > .value-button {
        padding-right: 10px;
      }
    }
  }

  &.borderless {
    > .body > .selector {
      border: none;
      border-radius: 0;
    }
  }

  &.flat > .body {
    > .selector {
      border-radius: 0;
      border: none;
      background: none;
      border-bottom: solid rgba(colors.$blue, .1) 1px;

      &:hover {
        box-shadow: none;
      }
    }

    > .options {
      @include layouts.page;
      visibility: visible;
      opacity: 1;
      position: relative;
      background: none;
      border: none;
      box-shadow: none;
      border-radius: 0;
      top: auto;
      padding: 5px 0 20px;

      > button.option {
        padding: 5px 10px;
        border-radius: 5px;
        display: block;
        margin-top: 5px;

        &:first-of-type {
          margin: 0;
        }
      }
    }
  }

  &.electric-blue.has-value {
    > .body {
      > .selector {
        border: solid colors.$electric-blue 1px;

        > .container {
          > .value-button {
            > .value, > .multiple-values {
              color: colors.$electric-blue;
            }
          }

          > .reset > svg[stroke] {
            stroke: colors.$electric-blue;
          }
        }
      }

      > .options > .option.active > span {
        color: colors.$electric-blue;
      }
    }
  }

  > .instructions {
    font-size: .9em;
    margin-top: 10px;
  }

  > .error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }
}
