@use '../styles/colors';

.friday-ui-soccer-loader {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;

  > svg {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
    margin: 0;
    padding: 0;
  }

  &.dark > svg {
    fill: colors.$blue;
  }

  &.light > svg {
    fill: colors.$light-blue;
  }
}
