@use '../styles/colors';

.friday-ui-step-indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  > button.step {
    cursor: pointer;
  }

  > .step {
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    box-shadow: none;
    padding: 0;
    border-radius: 50%;
    border: none;
    outline: none;
    background: rgba(colors.$blue, .2);
    margin: 0 0 0 10px;

    &:first-of-type {
      margin: 0;
    }

    &.active {
      background: colors.$blue;
    }
  }
}
