@use '../styles/colors';

.friday-ui-tag {
  display: inline-block;
  font-size: .8em;
  color: colors.$electric-blue;
  font-weight: 600;
  background: rgba(colors.$electric-blue, .1);
  padding: 8px 15px;
  border-radius: 20px;
}
