@use '~@cezembre/fronts/dist/screens';
@use "../styles/forms";
@use "../styles/colors";

.goatim-ui-textarea {
  width: 100%;

  > label {
    @include forms.label;
  }

  > textarea {
    @include forms.input;
    font-size: .9em;
    display: block;
    flex: 1;
    padding: 8px 12px;
    width: 100%;

    &:active, &:focus {
      outline: none;
      text-decoration: none;
    }

    &::placeholder {
      color: rgba(colors.$blue, .3);
      font-style: italic;
    }
  }

  > .instructions {
    @include forms.instructions;
  }

  > .error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }
}
