@use '../styles/colors';
@use '../styles/fonts';

.friday-ui-match-board {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  background: rgba(colors.$blue, .1);
  border: solid rgba(colors.$blue, .1) 1px;

  > .participants {
    border-right: solid rgba(colors.$blue, .1) 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    > .header {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      > .title {
        @include fonts.label;
        text-align: center;
        display: block;
        padding: 0 20px;
      }
    }

    > .ranking {
      flex: 1;
    }

    > .action {
      padding: 30px 20px;
    }
  }

  > .game {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    > .feed {
      flex: 1;
      overflow: scroll;

      > .physical-events {
        padding-bottom: 50px;
      }
    }
  }

  &.light {
    background: rgba(white, .1);
    border: solid rgba(white, .1) 1px;

    > .participants {
      border-right: solid rgba(white, .1) 1px;

      > .header > .title {
        @include fonts.label-light;
      }
    }
  }
}
