.friday-ui-match-status-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(white, .2);
  padding: 20px;
  box-sizing: border-box;

  &.planned, &.ongoing {
    > .action {
      margin-top: 20px;
    }
  }
}
