@use '../../styles/colors';

.goatim-ui-order-list {
  &.table {
    > .order {
      margin-top: 15px;
      padding-top: 15px;
      border-top: solid rgba(colors.$blue, 0.1) 1px;

      &:first-of-type {
        margin: 0;
        padding: 0;
        border: none;
        min-height: 20vh;
      }
    }
  }

  &.boxes {
    > .order {
      background: colors.$light-blue;
      margin-top: 15px;
      padding: 10px 20px;
      border-radius: 10px;

      &:first-of-type {
        margin: 0;
      }
    }
  }
}
