@use "~@cezembre/fronts/dist/containers";
@use "../../styles/fonts";
@use "../../styles/colors";
@use "../../styles/forms";

.goatim-ui-order-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > h1 {
    @include fonts.Inter(1.1em, colors.$blue, black);
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }

  &.buy {
    > h1 > span {
      color: colors.$green;
    }
  }

  &.sell {
    > h1 > span {
      color: colors.$red;
    }
  }

  > .instruction {
    @include fonts.Inter(.8em, rgba(colors.$blue, .5));
    text-align: center;
    margin: 10px 0 0;
    max-width: 400px;
  }

  > .type {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .counters {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    > .counter {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &:first-of-type {
        margin: 0;
      }

      > .total {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        > .label {
          @include fonts.Inter(.8em, colors.$blue-50);
          margin-right: 5px;
        }
      }
    }
  }

  > .order-book {
    width: 100%;
    margin-top: 30px;
  }

  > .actions {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    > .action {
      margin-left: 30px;

      &:first-of-type {
        margin: 0;
      }
    }
  }

  > .error {
    @include forms.error;
  }

  > .warning {
    @include forms.warning;
  }

  &.narrow {
    > .counters {
      flex-direction: column;

      > .counter {
        margin: 20px 0 0;

        &:first-of-type {
          margin: 0;
        }
      }
    }
  }
}
