@use '../../styles/fonts';
@use '../../styles/colors';

button.friday-ui-club-thumbnail,
a.friday-ui-club-thumbnail {
  cursor: pointer;
}

.friday-ui-club-thumbnail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  border: none;
  font-size: 1em;

  > .body {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > .name {
      @include fonts.Inter(1em, colors.$blue, 900);
      padding: 0;
      margin: 0 0 0 .8em;
    }
  }

  > .league {
    margin-top: 10px;
  }

  &.small > .body > .name {
    font-size: .9em;
  }

  &.big > .body > .name {
    font-size: 1.5em;
  }

  &.light {
    > .body > .name {
      color: white;
    }
  }

  &.logo {
    > .body {
      flex-direction: column;

      > .name {
        margin: .8em 0 0;
      }
    }
  }
}
