@use '../../styles/colors';

.goatim-ui-club-icon {
  border: none;

  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  > .placeholder {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(colors.$blue, .1);
    border: solid rgba(colors.$blue, .1) 1px;
    border-radius: 50%;
  }

  &.light > .placeholder {
    background: rgba(white, .1);
    border: solid rgba(white, .1) 1px;
  }

  &.small {
    width: 18px;
    min-width: 18px;
    height: 18px;
    min-height: 18px;

    > .placeholder {
      border-width: 1px;
    }
  }

  &.medium {
    width: 22x;
    min-width: 22x;
    height: 22x;
    min-height: 22x;

    > .placeholder {
      border-width: 2px;
    }
  }

  &.big {
    width: 45px;
    min-width: 45px;
    height: 45px;
    min-height: 45px;

    > .placeholder {
      border-width: 3px;
    }
  }
}
