@use '../../styles/colors';

.goatim-ui-club-thumbnail {
  display: inline-block;
  border: none;

  > .body {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > .name {
      font-size: .8em;
      font-weight: bold;
      padding: 0;
      margin: 0 0 0 .8em;
      width: 100%;
      white-space: nowrap;
    }
  }

  > .league {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.medium > .body > .name {
    font-size: .9em;
  }

  &.big > .body > .name {
    font-size: 1.5em;
  }

  &.light {
    > .body > .name {
      color: white;
    }
  }

  &.logo {
    > .body {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > .name {
        margin: .8em 0 0;
        text-align: center;
      }
    }
  }

  &.active {
    > .body > .name {
      color: colors.$electric-blue;
    }
  }
}
