@use '../../styles/fonts';
@use '../../styles/colors';

button.friday-ui-player-thumbnail,
a.friday-ui-player-thumbnail {
  cursor: pointer;
}

.friday-ui-player-thumbnail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  border: none;
  font-size: 1em;
  background: none;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  > .infos {
    > .number {
      @include fonts.Inter(.8em, colors.$blue);
      opacity: .5;
    }

    > .name {
      @include fonts.Inter(.8em, colors.$blue, bold);
    }
  }

  &.small, &.medium, &.big {
    > .infos {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10px;

      > .name {
        margin-left: 5px;
      }
    }
  }

  &.full {
    flex-direction: column;
    align-items: flex-start;

    > .infos {
      margin: 0;

      > .number {
        font-weight: bold;
        margin-right: 5px;
      }

      > .position {
        @include fonts.Inter(.7em, colors.$blue, bold);
        opacity: .5;
        text-transform: uppercase;
      }
    }

    > .name {
      @include fonts.Inter(1.5em, colors.$blue, 900);
      margin: 5px 0 0;
      padding: 0;
    }

    > .club {
      margin-top: 10px;
      text-decoration: none;
    }
  }

  &.medium {
    > .infos {
      > span {
        font-size: .9em;
      }
    }

    > .name {
      font-size: 1.2em;
      margin: 8px 0 0;
    }
  }

  &.big {
    > .infos {
      > span {
        font-size: 1em;
      }
    }

    > .name {
      font-size: 1.5em;
      margin: 10px 0 0;
    }
  }

  &.light {
    > .infos {
      color: white;

      > .number, > .position, > .name {
        color: white;
      }
    }

    > .name {
      color: white;
    }
  }
}
