@use '../styles/colors';

.goatim-ui-trading-banner {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  // > .fdy-rate {
  //   padding: 5px 20px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-start;
  // }

  // > .assets {
  //   flex: 1;
  // }

  // > .wallet {
  //   padding: 5px 20px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-end;
  // }

  > .container-user-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    margin-right: 1px;
  }

  > .container-shop-banner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 1px;
  }
}
